<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Laptop Battery Health Checker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
</head>
<body>
    <div class="header">
        <a href="https://github.com/rambo1111/laptop-battery-health-checker.git" target="_blank" class="github-link">GitHub</a>
    </div>
    <div class="container">
        <h1>Laptop Battery Health Checker Software</h1>
        <p>Click the link below to download the software:</p>
        <a href="{{ url_for('static', filename='LBHC.exe') }}" download>Click to download</a>
        <br><br>
        <p>Watch the tutorial video below to learn how to use the software:</p>
        <video width="560" height="315" controls>
            <source src="{{ url_for('static', filename='video.mp4') }}" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
</body>
</html>
