<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Laptop Battery Health Checker</title>
</head>
<body>
    <h1>Download Laptop Battery Health Checker Software</h1>
    <p>Click the link below to download the software:</p>
    <a href="https://www.mediafire.com/file/3s31wdujd9towa6/LBHC.zip/file" download>Click to download</a>

    <h2>Tutorial Video</h2>
    <p>Watch the tutorial video below to learn how to use the software:</p>
    <video width="560" height="315" controls>
        <source src="https://github.com/rambo1111/laptop-battery-health-checker/blob/main/Recording%202024-07-17%20112941.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
</body>
</html>
